body {
    color: black;
}

a {
    color: #535E4B
}

a:visited {
    color: #D3BAB1
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #4E4F50;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}



h1,
h2 {
    color: #746C70;
    font-family: "Rubik";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Work Sans";
}

#main {
    position: relative;
}