.masthead {
    background-color: #647C90
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #F2F1F0;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}